# Ignorar archivos y directorios innecesarios para el build de Docker

# Directorios de build
# target/
.mvn/wrapper/maven-wrapper.jar

# Archivos de IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Documentación
README.md
HELP.md